
/* Style for Pocket Layer UI */

body {
    background-color: #2b4c65;
    font-family: 'Raleway', sans-serif;
    display: grid;
    place-items: center;
}

h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
}

.simple-tos {
    background-color: #00000055;
    color: white;
    box-sizing: border-box;
    padding: 40px;
    width: 80%;
    height: 100vh;
    border-radius: 8px;
}
